= form_tag generate_allocations_path, method: :post do |f|
	- if @allocation.errors.any?
		#error_explanation
			%h2= "#{pluralize(@allocation.errors.count, "error")} prohibited this allocation from being saved:"
			%ul
				- @allocation.errors.full_messages.each do |msg|
					%li= msg

	.field
		- Product.all.each do |product|
			= check_box_tag "product_ids[]", product.id
			= product.name
			%br
		
		%br
		%br
		= select_tag "allocation_basis", options_for_select(AllocationInput.all.pluck(:allocation_basis).uniq)
		%br
		%br

		= "Name Your Allocation"
		= text_field_tag "allocation_name" 

		= submit_tag "Create Allocation"