%alloh1 Listing allocations

%table
  %thead
    %tr
      %th Allocation Name
      %th Status
      %th Product
      %th Date
      %th Allocation factor
      %th Allocation date
      %th Allocation Units
      %th Allocation base
      %t

  %tbody
    - @allocations.each do |allocation|
      %tr
        %td= allocation.allocation_name
        %td= allocation.status        
        %td= allocation.product.name
        %td= allocation.date_dim.input_date
        %td= allocation.allocation_factor
        %td= allocation.allocation_date
        %td= allocation.allocation_units
        %td= allocation.allocation_base
        %td= link_to 'Show', allocation
        %td= link_to 'Edit', edit_allocation_path(allocation)
        %td= link_to 'Destroy', allocation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Allocation', new_allocation_path
