= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :period
    = f.date_select :period
  .field
    = f.label :gl_date
    = f.date_select :gl_date
  .field
    = f.label :vendor_name
    = f.text_field :vendor_name
  .field
    = f.label :account_code
    = f.text_field :account_code
  .field
    = f.label :location_code
    = f.text_field :location_code
  .field
    = f.label :department_code
    = f.text_field :department_code
  .field
    = f.label :company_code
    = f.text_field :company_code
  .field
    = f.label :net_amount
    = f.text_field :net_amount
  .field
    = f.label :allocation_id
    = f.number_field :allocation_id
  .field
    = f.label :date_dim_id
    = f.number_field :date_dim_id
  .actions
    = f.submit 'Save'
