%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Action:
  = @product.action
%p
  %b Action Date:
  = @product.action_date

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
